html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.map-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}



#map-container {
    background: none;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
    will-change: transform;
    transition: transform 0.3s ease-out;
}

#map-container:active {
    cursor: grabbing;
}

#map-3d-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

#map-3d-wrapper.map-tilted {
    transform: perspective(1800px) rotateX(70deg);
}

#map-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-image {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    shape-rendering: geometricPrecision;
    transition: transform 0.3s ease-out;
}

/* Milchiges Inneres */
#map-image .fill-layer path {
    fill: white;
    opacity: 0.15;
    stroke: none;
}

/* Scharfe Linien */
#map-image .stroke-layer path {
    fill: none;
    stroke: white;
    stroke-width: 2;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1))
        /* Weißer, scharfer Schatten */
        drop-shadow(0 0 30px rgba(255, 255, 255, 0.8))
        /* Größerer Schatten mit etwas Transparenz */
}





.marker {
    position: absolute;
    z-index: 10;
    width: 10px;
    height: 10px;
    border: 2px solid #00ffff;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    /* Weißer Hintergrund für den Marker */
    filter: blur(0.2rem);
    /* Unscharf-Effekt auf Hintergrund anwenden */
    -webkit-box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease-out;
    /* Der Marker selbst bleibt unscharf */
}


.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;


}

